extends ../../layouts/defaultLayout.pug 
include ../../mixins/item.pug
include ../../mixins/pagination.pug
include ../../mixins/sort.pug

block main 
    .container
        .courses.mt-5 
            .row
                .heading.d-flex.flex-column.flex-md-row.mb-3.justify-content-between
                    h4.fw-bold=pageTitle
                    +sort(sort, sortedBy)
                if (courses.length > 0)
                    each course in courses
                        .col-lg-3.col-md-6.col-12.mb-3.mb-md-0
                            .card
                                img.card-img-top(src=course.thumbnail alt=course.title style="width: 100%; height: 200px;")
                                .card-body
                                    h6.fw-bold.card-title(
                                        style="height: 40px;"
                                    ) #{course.title}
                                    p.m-0.p-0.d-flex.justify-content-between 
                                        span Giá cũ
                                        span.old__price #{course.price}$
                                    p.m-0.p-0.d-flex.justify-content-between 
                                        span Giá mới
                                        span.fw-bold #{course.newPrice}$
                                .card-footer
                                    a.btn.btn-secondary(href=`/courses/${course.slug}` class="me-2") Chi tiết
                                    a.btn.btn-primary(href='#') Thêm giỏ hàng
                    +pagination(pagination)
                else 
                    h6.text-center.mt-5 Không tìm thấy khóa học nào

    script(src="/public/clients/js/pagination.js") 
    script(src="/public/clients/js/sort.js") 

                    
