extends ../../layouts/defaultLayout.pug
include ../../mixins/box-head.pug 
include ../../mixins/image-upload.pug 
include ../../mixins/alert.pug 
include ../../mixins/tree.pug 

block main 
    if(role.permissions.includes("roles-edit"))
        .main 
            +box-head(pageTitle)
            include ../../partials/require.pug

            +alertSuccess(3000)

            form(
                action=`${prefixAdmin}/roles/edit/${role.id}?_method=PATCH`
                method="POST"
                id="form-create-role"
            )
                .row.my-3
                    .col-md-6.col-12 
                        .form-group     
                            label(for="title" class="fw-bold") Tên *
                            input(type="text" name="title" id="title" value=role.title class="form-control") 
                            p.error-msg

                .row.my-3  
                    .col-md-6.col-12
                        .form-group 
                            label(class="fw-bold") Mô tả *
                            textarea(name="description" id="description" class="form-control" rows="10") #{role.description}
                            p.error-msg

                .my-3 
                    button(type="submit" class="btn btn-secondary" btn-create) Cập nhật

        script(src="/public/admin/js/validator.js") 



        

