extends ../../layouts/defaultLayout.pug
include ../../mixins/box-head.pug 
include ../../mixins/alert.pug 
include ../../mixins/status.pug 
include ../../mixins/modal.pug 
include ../../mixins/pagination.pug 
include ../../mixins/search.pug 
include ../../mixins/sort.pug 
include ../../mixins/filterByStatus.pug 
include ../../mixins/changeMulti.pug 
include ../../mixins/tree.pug 

block main 
    if(role.permissions.includes("courses-view"))
        .main 
            +box-head(pageTitle)

            +alertSuccess("3000")

            .card.my-4
                .card-header.fw-bold Tìm kiếm, sắp xếp, lọc theo trạng thái
                .card-body.card-sort-search
                    +search(keyword)
                    +sort(sort, sortedBy)
                    +filterByStatus(filterOptions, filterByStatus)
                                
            .card.my-4
                .card-header.fw-bold Thêm, sửa, cập nhật
                .card-body.card-crud
                    if(role.permissions.includes("courses-edit"))
                        +changeMulti("courses")
                    
                    if(role.permissions.includes("courses-add"))
                        a(href=`${prefixAdmin}/courses/create` class="btn btn-secondary") 
                            .fa-solid.fa-plus.me-2 
                            span Thêm mới 

            .card.my-4
                .card-header.fw-bold Danh sách khóa học
                .card-body
                    if (courses.length > 0) 
                        table.table.table-hover
                            thead
                                tr.text-center
                                    th(scope='col')
                                        input(type="checkbox" name="" checkbox-all class="form-check-input")
                                    th(scope='col') STT
                                    th(scope='col') Tên 
                                    th(scope='col') Hình ảnh
                                    th(scope='col') Danh mục
                                    th(scope='col') Giá
                                    th(scope='col') Vị trí
                                    th(scope='col') Giảm giá 
                                    th(scope='col') Status 
                                    th(scope='col') Actions
                            
                            tbody
                                each course in courses 
                                    tr.text-center.align-middle 
                                        td 
                                            input(type="checkbox" name="" checkbox-single=course.id class="form-check-input")    
                                        td #{course.index}
                                        td.fw-bold #{course.title}
                                        td 
                                            img(src=course.thumbnail alt=course.title style="width: 75px; height: 75px;")
                                        td 
                                            if(course.course_category_id)
                                                span #{course.category}
                                            else 
                                                span Danh mục gốc
                                        td #{course.price} $
                                        td #{course.position}
                                        td #{course.discountPercentage} %
                                        td 
                                            +status(course, "courses")
                                        td 
                                            a(href=`${prefixAdmin}/courses/detail/${course.id}` class="btn btn-primary me-2") Chi tiết 
                                            if(role.permissions.includes("courses-edit"))
                                                a(href=`${prefixAdmin}/courses/edit/${course.id}` class="btn btn-warning me-2") Sửa 
                                            if(role.permissions.includes("courses-delete"))
                                                button(type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target=`#${course.slug}`) Xóa
                                            +modal(course.slug, course.id, course.title, "khóa học", "courses")
            
                        +pagination(pagination)
                    else 
                        tr(col-span="8") Chưa có khóa học nào

        script(src="/public/admin/js/search.js") 
        script(src="/public/admin/js/pagination.js") 
        script(src="/public/admin/js/sort.js") 
        script(src="/public/admin/js/filterByStatus.js") 
        script(src="/public/admin/js/changeMulti.js") 