extends ../../layouts/defaultLayout.pug
include ../../mixins/box-head.pug 
include ../../mixins/alert.pug 
include ../../mixins/tree.pug 
include ../../mixins/status.pug 

block main 
    .main 
        +box-head(pageTitle)
        include ../../partials/require.pug

        +alertSuccess(3000)
        +alertError(3000)

        form(
            action=`${prefixAdmin}/accounts/create`
            method="POST"
            id="form-create-account"
        )
            .row.my-3
                .col-md-6.col-12 
                    .form-group     
                        label(for="title" class="fw-bold") Email *
                        input(type="email" name="email" id="email" required class="form-control") 
                        p.error-msg

            .row.my-3
                .col-md-6.col-12 
                    .form-group     
                        label(for="password" class="fw-bold") Mật khẩu *
                        input(type="password" name="password" id="password" required class="form-control") 
                        p.error-msg

            .row.my-3
                .col-md-6.col-12  
                    .form-group     
                        label(for="role_id" class="fw-bold") Vai trò *
                        select(name="role_id" id="role_id" class="form-select")
                            option(value="" disabled=true selected) -- Chọn vai trò --   
                            each role in roles 
                                option(value=role.id) #{role.title}   
                        p.error-msg
            
            .row.my-3 
                .col-md-8.col-12.d-flex.align-items-center.gap-4
                    span(class="fw-bold p-0 m-0") Trạng thái hoạt động
                    .form-check.form-check-inline.mb-0
                        input.form-check-input(type='radio' id="active" name='status' value='active' checked)
                        label.form-check-label(for='active') Hoạt động
                    .form-check.form-check-inline.mb-0
                        input.form-check-input(type='radio' id="inactive" name='status' value='inactive')
                        label.form-check-label(for='inactive') Chưa hoạt động
                 
            .my-3 
                button(type="submit" class="btn btn-secondary" btn-create) Tạo mới

    script(src="/public/admin/js/validator.js") 



        

