extends ../../layouts/defaultLayout.pug 
include ../../mixins/alert.pug 

block main 
    +alertSuccess("3000")
    
    .container 
        h4.my-4 Tài khoản
        .row 
            .col-md-3.col-12
                include ../../partials/profile-sider.pug
            
            .col-md-9.col-12
                form(
                    action="/users/updatePassword?_method=PATCH"
                    method="post"
                    id="form-update-password"
                    style="width: 80%;"
                    class="mx-auto"
                ) 
                    h5(
                        style="color: rgb(13,110,253);"
                    ) #{pageTitle}
                    .mb-1.row.form-group
                        label.col-12.col-form-label.fw-bold(for='oldPassword') Mật khẩu cũ
                        .col-12
                            input(class="form-control" type='password' name="oldPassword" id="oldPassword" placeholder="Nhập mật khẩu cũ")
                        p.error-msg
                    .mb-1.row.form-group
                        label.col-12.col-form-label.fw-bold(for='newPassword') Mật khẩu mới
                        .col-12
                            input(class="form-control" type='password' name="newPassword" id="newPassword" placeholder="Nhập mật khẩu mới")
                        p.error-msg
                    .mb-1.row.form-group
                        label.col-12.col-form-label.fw-bold(for='confirmNewPassword') Xác nhận mật khẩu mới
                        .col-12
                            input(class="form-control" type='password' name="confirmNewPassword" id="confirmNewPassword" placeholder="Xác nhận mật khẩu mới")
                        p.error-msg
                    .row.mt-3.form-group.px-2 
                        button.btn.btn-primary(type='submit' style="width: 200px;") Lưu thay đổi
    script(src="/public/clients/js/validator.js")                
    
                    
