mixin pagination(pagination)
    nav
        ul(class="pagination me-auto")
            li(class="page-item")
                button(
                    class="page-link" 
                    id="prevPageBtn" 
                    button-pagination=1
                    disabled=(pagination.currentPage === 1 ? true:false)
                    class=`${pagination.currentPage === 1? "disabled":""}`
                ) Trang đầu
        
            if (pagination.currentPage > 1) 
                li(class="page-item")
                    button(class="page-link" id="prevPageBtn" button-pagination=pagination.currentPage - 1) Trang trước
        

            if(pagination.currentPage < 3 || pagination.currentPage > pagination.totalPages - 2)
                
                - for(let i = 1; i <= 3; i++)
                        li(class=`page-item ${i === pagination.currentPage ? "active" : ""}`)
                            button(class="page-link" button-pagination=i) #{i}
                
                if(pagination.totalPages > 3)
                    li(class=`page-item`)
                        button(class="page-link") ...
                    
                    - for(let i = pagination.totalPages - 2; i <= pagination.totalPages; i++)
                        li(class=`page-item ${i === pagination.currentPage ? "active" : ""}`)
                            button(class="page-link" button-pagination=i) #{i}

            else if (pagination.currentPage > 3 && pagination.currentPage < pagination.totalPages - 2)

                - for(let i = 1; i <= 1; i++)
                    li(class=`page-item ${i === pagination.currentPage ? "active" : ""}`)
                        button(class="page-link" button-pagination=i) #{i}

                li(class=`page-item`)
                    button(class="page-link") ...

                - for(let i = pagination.currentPage - 2; i <= pagination.currentPage + 2; i++)
                    li(class=`page-item ${i === pagination.currentPage ? "active" : ""}`)
                        button(class="page-link" button-pagination=i) #{i}    

                li(class=`page-item`)
                    button(class="page-link") ...

                - for(let i = pagination.totalPages; i <= pagination.totalPages; i++)
                    li(class=`page-item ${i === pagination.currentPage ? "active" : ""}`)
                        button(class="page-link" button-pagination=i) #{i}

            else if (pagination.currentPage === 3)

                - for(let i = 1; i < 6; i++)
                        li(class=`page-item ${i === pagination.currentPage ? "active" : ""}`)
                            button(class="page-link" button-pagination=i) #{i}

                li(class=`page-item`)
                    button(class="page-link") ...

                - for(let i = pagination.totalPages - 2; i <= pagination.totalPages; i++)
                    li(class=`page-item ${i === pagination.currentPage ? "active" : ""}`)
                        button(class="page-link" button-pagination=i) #{i}

            else if (pagination.currentPage === pagination.totalPages - 2)

                - for(let i = 1; i <= 3; i++)
                        li(class=`page-item ${i === pagination.currentPage ? "active" : ""}`)
                            button(class="page-link" button-pagination=i) #{i}

                li(class=`page-item`)
                    button(class="page-link") ...

                - for(let i = pagination.totalPages - 4; i <= pagination.totalPages; i++)
                    li(class=`page-item ${i === pagination.currentPage ? "active" : ""}`)
                        button(class="page-link" button-pagination=i) #{i}


        
            if (pagination.currentPage < pagination.totalPages)
                li(class="page-item")
                    button(class="page-link" id="nextPageBtn" button-pagination=pagination.currentPage + 1) Kế tiếp
            
            li(class="page-item")
                button(
                    class="page-link" 
                    id="prevPageBtn" 
                    button-pagination=pagination.totalPages
                    disabled=(pagination.totalPages === pagination.currentPage ? true : false)
                    class=`${pagination.totalPages === pagination.currentPage ? "disabled":""}`
                ) Trang cuối 