mixin status(course, route)
    if (course.status === "active")
        a(href=`${prefixAdmin}/${route}/updateStatus/${course.id}/inactive` class="badge bg-success") Active 
    else 
        a(href=`${prefixAdmin}/${route}/updateStatus/${course.id}/active` class="badge bg-danger") Inactive 
