mixin status(item, route)
    if (item.status === "active")
        a(href=`${prefixAdmin}/${route}/updateStatus/${item.id}/inactive` class="badge bg-success") Active 
    else 
        a(href=`${prefixAdmin}/${route}/updateStatus/${item.id}/active` class="badge bg-danger") Inactive 
