.header 
    a(href=`${prefixAdmin}/` class="header__logo") TPT-edu
    .header__right 
        if(account) 
            a(href=`${prefixAdmin}/accounts`) #{account.email} - #{role.title}  

        .header__user 
            span.header__buttons 
                i.fa-solid.fa-user
                i.ms-2.fa-solid.fa-caret-down
            .header__dropdown.hidden 
                ul.header__list  
                    li 
                        a(href=`${prefixAdmin}/auth/logout`) Đăng xuất



            
