.sider 
    .sider__group 
        p.sider__title Core 
        
        .sider__block
            a(href="" class="sider__item")  
                span
                    .fa-solid.fa-gauge
                span Dashboard 

    .sider__group 
        p.sider__title Khóa học

        .sider-block
            a(href=`${prefixAdmin}/courses` class="sider__item")  
                span
                    .fa-solid.fa-gauge
                span Khóa học
            
            a(href=`${prefixAdmin}/courses-categories` class="sider__item")  
                span
                    .fa-solid.fa-gauge
                span Danh mục khóa học 

    .sider__group 
        p.sider__title Đơn hàng

        .sider-block
            a(href="" class="sider__item")  
                span
                    .fa-solid.fa-gauge
                span Đơn hàng
    
    .sider__group 
        p.sider__title Blogs

        .sider-block
            a(href=`${prefixAdmin}/blogs` class="sider__item")  
                span
                    .fa-solid.fa-gauge
                span Blogs
            
            a(href=`${prefixAdmin}/blogs-categories` class="sider__item")  
                span
                    .fa-solid.fa-gauge
                span Danh mục blogs 

    .sider__group 
        p.sider__title Accounts

        .sider-block
            a(href="" class="sider__item")  
                span
                    .fa-solid.fa-gauge
                span Accounts
            
            a(href=`${prefixAdmin}/roles` class="sider__item")  
                span
                    .fa-solid.fa-gauge
                span Roles 

            a(href="" class="sider__item")  
                span
                    .fa-solid.fa-gauge
                span Phân quyền

    .sider__group 
        p.sider__title Users

        .sider-block
            a(href="" class="sider__item")  
                span
                    .fa-solid.fa-gauge
                span Users

    .sider__group 
        p.sider__title Cài đặt chung

        .sider-block
            a(href="" class="sider__item")  
                span
                    .fa-solid.fa-gauge
                span Cài đặt chung
            